
		.navigation{
			background-color: #312853;
		}
		.navigation a{
			display: inline-block;
			width: 33.3333%;
			text-align: center;
			background-image: center;
			text-decoration: none;
			font-family: sans-serif;
			padding: 25px 0;
			color: #ffffff;
		}
		body{
			background-image: url(images/pattern.png);
			background-size: 10%;

		}
		.header{
			text-align: center;
			margin: 50px auto;
			max-width: 680px;
		}
		.header h1{
			font-family: sans-serif;
		}
		.content-container{
			max-width: 1200px;
			margin: 0 auto;
		}
		.event{
			display: inline-block;
			vertical-align: top;
			width: 100%;
			margin-bottom: 20px;
		}
		
		.events-inner{
			background-color: #ffffff;
			padding: 25px;
			border: 1px solid #e1e1e1;
		}
		.events-date{
		    color: #959595;
		    font-family: sans-serif;
		    font-size: 14px;
		}
		.events h1{
			font-family: sans-serif;
		}

(cite Week 8 Prototype Website)